{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve"
}
