@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: Pretendard;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

@layer base {
  html {
    font-family: Pretendard;
    font-size: 1rem;
    font-display: swap;
  }

  /* 스크롤 스타일 */
  .custom-scrollbar {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 검색 input 안보이게 */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  /* ql editor 초기 값 */
  .ql_editor {
    padding: 5px;
  }
  .ql_editor h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .ql_editor h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .ql_editor p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .ql_editor strong {
    font-weight: bold;
  }
  .ql_editor em {
    font-style: italic;
  }
  .ql_editor ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  .ql_editor ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  .ql_editor li {
    display: list-item;
  }

  /* 스켈레톤 UI 임시 */
  @-webkit-keyframes skeleton-gradient {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }

  @keyframes skeleton-gradient {
    0% {
      background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
      background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
      background-color: rgba(165, 165, 165, 0.1);
    }
  }

  /*해당되는 컴포넌트에 적용*/
  .skeleton-list-item {
    -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
    animation: skeleton-gradient 1.8s infinite ease-in-out;
  }

  @keyframes loading-image-rotate {
    100% {
      transform: rotate(-360deg);
    }
  }
  .loading-bee-image {
    animation: loading-image-rotate 8s linear infinite;
  }
}
