@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: Pretendard;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

@layer base {
  html {
    font-family: Pretendard;
    font-size: 1rem;
    font-display: swap;
  }

  /* ql editor 초기 값 */
  .ql_editor {
    padding: 20px;
  }
  .ql_editor h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .ql_editor h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .ql_editor p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
  .ql_editor strong {
    font-weight: bold;
  }
  .ql_editor em {
    font-style: italic;
  }
  .ql_editor ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  .ql_editor ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
  .ql_editor li {
    display: list-item;
  }
}
