@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: Pretendard;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

@layer base {
  html {
    font-family: Pretendard;
    font-size: 1rem;
    font-display: swap;
  }
}
